<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Droplets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
      </div>
       <div class="dropleft mr-2">
        <div class="dropdown-toggle dropleft d-none-before" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-cog"></span>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/account">edit profile</a>
          <a class="dropdown-item" href='/logout'>log out</a>
        </div>
      </div>

      <div class="dropleft">
        <div class="dropdown-toggle d-none-before" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-bars"></span>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/channels">new channel</a>
          <a class="dropdown-item" href="#">delete channel</a>
        </div>
      </div>
    </div>
  </nav>