<%- include('partials/header'); %> 
<%- include('partials/nav'); %> 
        <div class="container">
        <div class="messaging">
              <div class="inbox_msg">
                <div class="inbox_people">
                  <div class="headind_srch">
                    <div class="recent_heading">
                      <h4> Chanels </h4>
                    </div>
                  </div>
                  <div class="inbox_chat">
                    <div class="chat_list active_chat">
                      <div class="chat_people">
                        <div class="chat_img"> </div>
                        <div class="chat_ib">
                          <h5> breaststrokers <span class="chat_date">sept 3</span></h5>
                          <p> Coach - next event is 23rd </p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_two">
                      <div class="chat_people">
                        <div class="chat_img"> </div>
                        <div class="chat_ib">
                          <h5> freesylers <span class="chat_date">aug 30</span></h5>
                          <p> mel - sorry no traing tonight .</p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_three">
                      <div class="chat_people">
                        <div class="chat_img">  </div>
                        <div class="chat_ib">
                          <h5> backstrokers  <span class="chat_date">july 17</span></h5>
                          <p> coach - team meeting this week</p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_four">
                      <div class="chat_people">
                        <div class="chat_img">  </div>
                        <div class="chat_ib">
                          <h5> up coming events <span class="chat_date">july 5</span></h5>
                          <p> coach - there is a new event upcoming on</p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_five">
                      <div class="chat_people">
                        <div class="chat_img">  </div>
                        <div class="chat_ib">
                          <h5> butterflyers <span class="chat_date">feb 3 </span></h5>
                          <p> sam - hey guys i am sick today</p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_six">
                      <div class="chat_people">
                        <div class="chat_img"> </div>
                        <div class="chat_ib">
                          <h5> girls swim <span class="chat_date">Dec 15</span></h5>
                          <p>ellie - girls team meeting this week </p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_seven">
                      <div class="chat_people">
                        <div class="chat_img">  </div>
                        <div class="chat_ib">
                          <h5> boys swim <span class="chat_date">Dec 4</span></h5>
                          <p> coach - no exception to not show up unless you have </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mesgs">
                  <div class="msg_history">
                    <div class="incoming_msg">
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>hey are you trainning tonight</p>
                          <span class="time_date"> 11:01 AM    |    today</span></div>
                      </div>
                    </div>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>hey yes i am </p>
                        <span class="time_date"> 11:04 AM    |    today</span> </div>
                    </div>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img">  </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p> thats good i think its 100 100s tonight</p>
                          <span class="time_date"> 11:05 AM    |    today</span></div>
                      </div>
                    </div>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p> eh thats gonna be hard hopefully we get good rest inbetween </p>
                        <span class="time_date"> 11:07 AM    |    Today</span> </div>
                    </div>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p> yea fingers crossed do you think emma will be there</p>
                          <span class="time_date"> 11:11 AM    |    Today</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="type_msg">
                    <div class="input_msg_write">
                      <input type="text" class="write_msg" placeholder="Type a message" />
                      <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
<%- include('partials/footer'); %> 